# secrets
.streamlit/secrets.toml
.env

# model / model weights
*.pt
*.safetensors

# data
dev/output/
dev/data/
tmp/
*.zip
*.csv

# cache
.idea/
.DS_Store
__pycache__/
.localdev
.vscode/
.vscode-server/

# build eggs
*.egg-info
build/

